* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #191919;
  color: #e8eaea;
}
.main {
  height: 100vh;
}
.navbar {
  height: 10%;
}
.switch {
  height:90%;
}